JWT_SECRET=<your_jwt_secret>

DB_URL=<your_local_mysql_url>
DB_USERNAME=<your_local_mysql_user>
DB_PASSWORD=<your_local_mysql_password>

DOCKER_MYSQL_URL=<your_docker_mysql_url>
DOCKER_MYSQL_USER=<your_docker_mysql_user>
DOCKER_MYSQL_PASSWORD=<your_docker_mysql_password>
DOCKER_MYSQL_ROOT_PASSWORD=<your_docker_mysql_root_password>
